[submodule "auto_backup_mblz"]
	path = auto_backup_mblz
	url = git@github.com:MobilizeDevTeam/auto_backup_mblz.git
	branch = 14.0

[submodule "mblz_customs"]
	path = mblz_customs
	url = git@github.com:MobilizeDevTeam/mblz_customs.git
	branch = 15.0
[submodule "account_group_hierarchy"]
	path = account_group_hierarchy
	url = git@github.com:MobilizeDevTeam/account_group_hierarchy.git
	branch = 14.0
